:root {
    --bg-1: #343434;
    --bg-2: #454545;
    --sec-2: #FF6000;
    --sec-1: #a54001;
    --fc-2: #FFE6C7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ysabeau', sans-serif;
    background-color: var(--bg-2);
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%; 
    background-color: var(--bg-1);
}

.logo {
    text-decoration: none;
    font-weight: 600;
    color: var(--sec-1);
    font-size: 24px;
    transition: 0.4s;
}

.logo:hover{
    color: var(--sec-2);
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: var(--fc-2);
    transition: 0.4s;
}

.item:hover{
    color: var(--sec-2);
}

.active{
    color: var(--sec-1);
    font-size: 20px;
    font-weight: 600;
}

.active:hover{
    color: var(--sec-2);
}

.home-container{
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 10%;
}

.name{
    color: var(--fc-2);
    text-decoration: none;
    transition: 0.4s;
}

.name:hover{
    color: var(--sec-2)
}

.about-container{
    height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 10%;
    text-align: end;
}

.about-me{
    width: 500px;
}

.highlight{
    color: var(--fc-2);
}

.skills-container{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 10%;
    height: 600px;
}

.skill-items a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid var(--fc-2);
    border-radius: 15px;
    color: var(--fc-2);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-right: 40px;
    margin-top: 30px;
}

.skill-items a:hover{
    color: var(--bg-2);
}

.skill-items a::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.skill-items a:hover::before{
    width: 100%;
    background-color: var(--fc-2);
}

.project-content{
    height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 10%;
}

#project{
    flex-direction: column;
    margin: 50px 0px;
}

.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px ;
    margin: auto;
}

.project-box{
    width: 330px;
    padding: 15px ;
    border: 1px solid #eeee;
    margin: 20px;
}

.project-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img{
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 1px solid white;
}